body {
    background: #ab82c5;
    background-image: url('/assets/bedroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; /* keep this shit in place*/
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

button {
    background:transparent;
    border:none;
}

button:active {
    filter:contrast(80%);
}

#canvasbox {
    position:  absolute;
    margin:0;
    left: 80px;
    top: 180px;
    z-index: 10;
    background: transparent;
}


#healthprogress {
    width:100%;
    height:30px;
    background-color:rgb(70, 0, 191);
}

#hungerprogress {
    width:100%;
    height:30px;
    background-color:rgb(70, 0, 191);
}

#stressprogress {
    width:100%;
    height:30px;
    background-color:rgb(70, 0, 191);
}

#buttonsbox {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#userCounter {
    margin:20px;
}

.hpbar {
    width:20%;
    height:30px;
    background-color:white;
    margin:10px;
    margin-left: 200px;
}

.hpbttn {
    margin:20px;
}