body {
    background: #ab82c5;
    background-image: url('/assets/bedroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; /* keep this shit in place*/
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

button {
    background:transparent;
    border:none;
    
}

button:hover {
    filter:contrast(120%);
}

button:active {
    filter:contrast(80%);
}

#canvasbox {
    position:  absolute;
    margin:0;
    left: 425px;
    top: 180px;
    z-index: 10;
    background: transparent;
}


#healthprogress {
    width:100%;
    height:30px;
    background-color:rgb(213, 19, 122);
    border-radius: 15px; 
    /* padding and line height center the emojis  */
     padding-left: 10px;
     line-height: 30px;
}

#hungerprogress {
    width:100%;
    height:30px;
    background-color:rgb(213, 19, 122);
    border-radius: 15px; 
     padding-left: 10px;
     line-height: 30px;
}

#stressprogress {
    width:100%;
    height:30px;
    background-color:rgb(213, 19, 122);
    border-radius: 15px; 
     padding-left: 10px;
     line-height: 30px;
}

#buttonsbox {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    
}

#userCounter {
    margin:20px;
}

.hpbar {
    width:20%;
    height:30px;
    background-color:rgba(255, 255, 255, 0.664);
    margin:10px;
   margin-left: 200px;
    /* wanted to round out the health bar for a cuter look */
    border-radius: 15px; 
    /* need the a in rgb for transparency  */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.901);
}

.hpbttn {
    margin:20px;
}

#userCounter {
    font-family: "Press Start 2P", system-ui;
    font-size: medium;
    margin: 10px;
    color: white;
    margin:30px;
   margin-left: 205px;
    
}
